.item {
    padding: 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    transition: background 200ms ease-in-out 0s;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        .avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: 2px solid rgba(254, 44, 85, 1);
            margin-right: 12px;
            img {
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
    }
}
.avatar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 12px;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
.content {
    height: 32px;
    .title-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }
    .user-title {
        color: rgb(22, 24, 35);
        font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-top: -2px;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .tick {
        color: #20d5ec;
        svg {
            margin-left: 4px;
            vertical-align: inherit !important;
        }
    }
    .desc {
        color: rgba(22, 24, 35, 0.75);
        font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
