.search-result {
    width: 361px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden auto;
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(217, 217, 217);
    }
    .result-title {
        height: 30px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        margin: 0;
    }
    .result-for {
        padding: 15px 16px;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: rgb(22, 24, 35);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}
